@charset "UTF-8";

.tab{position: relative;}
.tab .tabMenu{background-color: rgba(255, 255, 255, 0.55); position: absolute; left: 50%; bottom: 0; height: 60px; border: 1px solid black; text-align: center; transform: translateX(-50%); box-sizing: border-box;}
.tab .tabMenu ul li{float: left; width: 33.333%; box-sizing: border-box;}
.tab .tabMenu ul li.on{background-color: #f3f3f3;}
.tab .tabMenu ul li+li{border-left: 1px solid black;}
.tab .tabMenu ul li a{font-size: 22px; font-weight: 500; line-height: 58px;}

/*menu*/
.conWrap .menu .row{margin-top: 65px;}
.conWrap .menu .row li{position: relative; float: left; width: 280px; height: 350px; background-color:#f7f6f6;}
.conWrap .menu .row li a img{position: relative; left:30%; top:15%;}
.conWrap .menu .row::after{content: ''; display: block; clear:both;}
.conWrap .menu .row li+li{margin-left: 20px;}
.conWrap .menu .row > ul > li > a > span{display: block; font-size: 18px; font-weight: 500; position: absolute; bottom: 10%; left: 50%; transform: translateX(-50%); white-space:nowrap;}
.conWrap .menu .row .detail{position: absolute; left: 0; top: 0; background-color: rgba(255, 255, 255, 0.6); width: 280px; height: 350px; padding: 15px; box-sizing: border-box; border: 1px solid #ddd; display: none;}
.conWrap .menu .row li:hover .detail{display: block;}
.conWrap .menu .row .detail h2{border-bottom: solid 2px #202023; font-size: 18px;}
.conWrap .menu .row .detail h2 span{display: block; font-size: 15px; font-weight:300; padding: 10px 0;}
.conWrap .menu .row .detail p{font-weight: 500; font-size: 14px; padding-top: 40px; line-height: 20px;}
.conWrap .menu .row .detail .proCon{position: absolute; bottom: 0; left: 0; background-color: #f0f0f0; height: 125px; padding-top:20px; box-sizing: border-box;}
.conWrap .menu .row .detail .proCon dl{float:left; width: 38.32%; margin-left: 11.49%; font-size: 13px; font-weight: 300; margin-top: 10px;}
.conWrap .menu .row .detail .proCon dt{display: inline-block; line-height: 16px;}
.conWrap .menu .row .detail .proCon dd{display: inline-block; font-weight: 500; line-height: 16px;}
.conWrap .menu button{position: relative; left: 50%; transform: translateX(-50%); margin-top: 65px; width: 200px; height: 60px; background-color: #f7f6f6; border-radius: 30px; border: 0; font-size: 22px;}
.conWrap .menu .moreBtn::after{content: ""; display: inline-block; background: url(../images/sub_images/more_btn.png) no-repeat; width: 24px; height: 24px; position: relative; top: 3px; left: 10px; z-index: 100;}
.conWrap .menu .row4 li a img{position: relative; left: 15%; top: 15%;}
.hidden{display: none;}
.conWrap .sub2 .row li a img{position: relative; left: 30%; top: 10%;}
.conWrap .sub2 .row2 li:nth-child(1) img{left:20%;}
.conWrap .sub2 .row2 li:nth-child(2) img{left:15%;}
.conWrap .sub3 .row li a img{position: relative; left: 0; top: 10%;}
.conWrap .sub3 .row1 li:nth-child(4) img{top:25%;}
.conWrap .sub3 .row2 li:nth-child(1) img{top:25%;left: -15%;}
.conWrap .sub3 .row2 li:nth-child(2) img{top:20%;left: -15%;}
.conWrap .sub3 .row2 li:nth-child(3) img{top:20%;}
.conWrap .sub3 .row2 li:nth-child(4) img{top:30%;left:20%;}
.conWrap .sub3 .row3 li:nth-child(1) img{top:15%;}
.conWrap .sub3 .row3 li:nth-child(2) img{top:15%;}
#footer{margin-top: 150px;}